.btn {
    display: inline-block;
    padding: 0.5rem 0.7rem;
    // border: 1px solid $secondary-color;
    border-radius: 5px;
    text-align: center;
    margin: 0.5rem;

        &:hover {
            background: $secondary-color;
            color: set-text-color($secondary-color);
        }
}

.btn-light {
    @extend .btn;
    background: lighten($color: $primary-color, $amount: 50);
}
.btn-dark {
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50);
}