@import "config";
@import "menu";
@import "button";
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');


* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    line-height: 1.5;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5)
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

img {
    object-fit: cover;
}

header {
    width: 100%;
    position: fixed;
    z-index: 2;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        padding-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }

    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }

    .about-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "bio-portrait bio bio"
            "project1 project2 project3";
        grid-gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .bio-portrait {
        grid-area: bio-portrait;
        place-content: center;
        margin: auto;

        img {
            width: 220px;
            height: 220px;
            border-radius: 50%;
        }
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .project {
        background-color: lighten($primary-color, $amount: 5);
        padding: 1rem;
        border-radius: 5px;
        border-bottom: $secondary-color 2px solid;

        h6 {
            color: $secondary-color;
        }
    }

    .project-1 {
        grid-area: project1;
    }

    .project-2 {
        grid-area: project2;
    }

    .project-3 {
        grid-area: project3;
    }
}

#my-work {

    .works {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.7rem;

        .work {

            // a{
            //     display: inline-block;
            // } 

            img {
                width: 100%;
                border: 2px solid #fff;
                border-radius: 3px;

                &:hover {
                    opacity: 0.7;
                    border-color: $secondary-color;
                    @include easeOut;
                }
            }
        }
    }
}



#main-footer {
    text-align: center;
    padding: 1rem;
    background-color: darken($color: $primary-color, $amount: 10);
    height: 60px;
}

@import "mobile";