.landing {
    display: grid;
    grid-template-columns: 1fr;

    .content {
        order: 2;
        padding: 15px 20px;
        text-align: center;

        h2 {
            color: $primary-color;
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        p {
            font-size: 1rem;
            line-height: 130%;
        }
    }

    .img-container {
        width: inherit;
        height: 300px;
        order: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.arrow-container {
    width: 100px;
    margin: 15px auto;

    .down-arrow {
        margin-left: 35px;
        color: $primary-color;

        i {
            animation-duration: 2s;
            animation-iteration-count: infinite;
            margin: 0 auto 0 auto;
            transform-origin: bottom;
            border-radius: 50%;
            font-size: 2rem;
            text-align: center;
        }
    }
}

@include md {
    .landing {
        display: grid;
        grid-template-columns: 1fr;
        margin: 40px 0;

        .content {
            order: 2;
            padding: 15px 20px;
            text-align: center;

            h2 {
                color: $primary-color;
                font-size: 1.5rem;
                margin-bottom: 15px;
            }

            p {
                font-size: 1rem;
                line-height: 130%;
            }
        }

        .img-container {
            width: inherit;
            height: 300px;
            order: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .arrow-container {
        width: 100px;
        margin: 15px auto;

        .down-arrow {
            margin-left: 35px;
            color: $primary-color;

            i {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                margin: 0 auto 0 auto;
                transform-origin: bottom;
                border-radius: 50%;
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

@include ipad {
    main {
        &:after {
            position: absolute;
            content: "";
            bottom: 60px;
            left: 200px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/node-js.svg");
            opacity: .3;
            @include rotate;
        }

        &:before {
            position: absolute;
            content: "";
            bottom: 180px;
            right: 200px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/custom-coding.svg");
            opacity: .3;
            @include rotate;
        }
    }

    .landing {
        position: relative;
        height: 40vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: center;
        align-items: center;

        &:after {
            position: absolute;
            content: "";
            top: 40px;
            left: 0;
            height: 100px;
            width: 100px;
            background: url("../images/svg/binary-code.svg");
            opacity: .3;
            @include rotate;
        }

        &:before {
            position: absolute;
            content: "";
            top: -40px;
            right: 30px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/browser.svg");
            opacity: .5;
            transform: rotate(45deg);
            @include rotate;
        }

        .content {
            h2 {
                font-size: 2.7rem;
                margin-bottom: 40px;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .img-container {
            width: inherit;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .arrow-container {
        margin: 30px auto;
        // margin-top: 30px;

        .down-arrow {


            i {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                margin: 0 auto 0 auto;
                transform-origin: bottom;
                font-size: 2rem;
            }
        }
    }
}

@include lg {
    main {
        &:after {
            position: absolute;
            content: "";
            bottom: 30px;
            left: 200px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/node-js.svg");
            opacity: .3;
            @include rotate;
        }

        &:before {
            position: absolute;
            content: "";
            bottom: 150px;
            right: 200px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/custom-coding.svg");
            opacity: .3;
            @include rotate;
        }
    }

    .landing {
        position: relative;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-content: center;
        align-items: center;

        &:after {
            position: absolute;
            content: "";
            top: 40px;
            left: 0;
            height: 100px;
            width: 100px;
            background: url("../images/svg/binary-code.svg");
            opacity: .3;
            @include rotate;
        }

        &:before {
            position: absolute;
            content: "";
            top: -40px;
            right: 30px;
            height: 100px;
            width: 100px;
            background: url("../images/svg/browser.svg");
            opacity: .5;
            transform: rotate(45deg);
            @include rotate;
        }

        .content {
            h2 {
                font-size: 2.7rem;
                margin-bottom: 40px;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .img-container {
            width: inherit;
            height: 500px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .arrow-container {
        margin: 30px auto;
        // margin-top: 30px;

        .down-arrow {


            i {
                animation-duration: 2s;
                animation-iteration-count: infinite;
                margin: 0 auto 0 auto;
                transform-origin: bottom;
                font-size: 2rem;
            }
        }
    }
}