@mixin rotate {
    animation: rotation 3s infinite linear;

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }
}

@mixin transit {
    transition: all 2s;
}

@mixin sm {
    @media(min-width: 411px) {
        @content;
    }
}

@mixin md {
    @media(min-width: 768px) {
        @content;
    }
}

@mixin ipad {
    @media(min-width: 1024px) {
        @content;
    }
}

@mixin lg {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin xl {
    @media(max-width: 1201px) {
        @content;
    }
}