$primary-color: #578865;
$white-color: #ffffff;
$black-color: #131313;
$github-color: #211F1F;
$facebook-color: #3b5998;
$twitter-color: #00acee;
$linkedin-color: #0e76a8;
$dev-color: #08090A;
$instagram-color: LINEAR-GRADIENT(45DEG, #405DE6,
    #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);